.container-password{
  max-width: 480px;
  margin: 14px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}
.title{
  text-align: center;
  color: #FFF;
  font-size: 28px;
  margin-top: 24px;
  margin-bottom: 8px;
} 

.password{
  height: 40px;
  background: rgb(15, 15, 15);
  border: 1px solid #1d1c1cbb;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFF;
  border-radius: 4px;
  transition: transform 0.5s;
}
.password:hover{
  transform: scale(1.05);
  border-color: #FFF;
}

.tooltip{
  color: #FFF;
  position: relative;
  top: 8px;
  padding: 6px 8px;
  font-size: 16px;
  border-radius: 6px;
  background: rgb(15, 15, 15);
  opacity: 0;
  visibility: hidden;
  transition: all .5s ease-in-out;
  text-align: center;
}

.container-password:hover .tooltip{
  bottom: 50px;
  visibility: visible;
  opacity: 1;
}

.button-nova-senha{
  height: 40px;
  background-color: #1b56c5;
  border:0;
  border-radius: 4px;
  color: #FFF;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  width: 30%;
}

